/* SPDX-License-Identifier: AGPL-3.0-only */

body {
 margin: 0;
 background-image: url("/noise.png");
}

.stallman {
 text-align: center;
 position: absolute;
 margin: auto;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 image-orientation: from-image;
}

.donate {
 padding: 10px;
 padding-right: 30px;
 z-index: 100;
 position: absolute;
}
